body {
	font-family: Garamond;
	/*background-color: #d9d9d9;*/
	margin: 50px;
	background: linear-gradient(-45deg, #789cd9, #a0b9e4, #c8d7f0, #dce5f5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/*height: 100vh;*/
}

.block, header {
	background-color: #f2f2f2;
	box-shadow: 7px 7px 15px;
}

.block {
	margin-top: 50px;
	padding: 20px 50px 50px 50px;
}

header {
	text-align: center;
	line-height: 20%;
	padding: 100px;
}

h1 {
	font-size: 90px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-weight: normal;
	font-size: 20px;
}

main {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
}

p {
	line-height: 25%;
}

.bold {
	font-weight: bold
}

.date {
	font-style: italic;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}